<div id="address-form" class="components">
  <h2 {{bind-attr class="isValid:text-success"}}>
    {{#if isValid}}
      <i class="fa fa-check"></i>
    {{/if}}
    Where should we ship?
  </h2>
  {{#if showError}}
    {{#unless isValid}}
      <div class="alert alert-danger" role="alert">
        <strong>Slow down!</strong>
        {{#if errorMessage}}
          {{errorMessage}}
        {{else}}
          Address incomplete
        {{/if}}
      </div>
    {{/unless}}
  {{/if}}
  <form>
    <div class="form-group">
      {{input value=address class="form-control" placeholder="Address"}}
    </div>
    <div class="form-group">
      {{input value=address2 class="form-control" placeholder="Address Line 2 (optional)"}}
    </div>
    <div class="form-group">
      {{input value=city class="form-control" placeholder="City"}}
    </div>
    <div class="form-group">
      {{view "select"
        class="form-control"
        content=usStates
        optionLabelPath="content.name"
        optionValuePath="content.abbreviation"
        value=state
        prompt="State"
      }}
    </div>
    <div class="form-group">
      {{input value=zip class="form-control" placeholder="Zip (numbers only)"}}
    </div>

    {{#if showSaveButton}}
      <div class="form-group">
        <button {{bind-attr disabled=isSubmitting class="isSubmitting:disabled :btn :btn-warning :pull-right"}} {{action 'submit'}}>
          <i {{bind-attr class="isSubmitting::hidden :fa :fa-spin :fa-refresh"}}></i>
          &nbsp;
          Save
        </button>
      </div>
    {{/if}}

  </form>
</div>
