<form class="form-horizontal">

      <div class="form-group">

        <div class="col-md-6">
          <label class="control-label">Height (inches)</label>
          {{input type="number" value=height class="form-control" placeholder="Height"}}
        </div>

        <div class="col-md-6">
          <label class="control-label">Weight (lbs)</label>
          {{input type="number" value=weight class="form-control" placeholder="Weight"}}
        </div>

      </div>

      <div class="form-group">

        <div class="col-md-6">
          <label class="control-label">Age</label>
          {{input type="number" value=age class="form-control" placeholder="Age"}}
        </div>

        <div class="col-md-6">
          <label class="control-label">Gender</label>
          <div class="clearfix"></div>
          <label class="checkbox-inline">
            {{radio-button value='male' checked=gender}}
            Male
          </label>
          <label class="checkbox-inline">
            {{radio-button value='female' checked=gender}}
            Female
          </label>
        </div>

      </div>

      <div class="form-group">
        <div class="col-md-12">
          <label class="control-label">Activity</label>
          {{view "select"
            class="form-control"
            content=activityDict
            optionLabelPath="content.label"
            optionValuePath="content.value"
            value=activity
            prompt="Activity Level"
          }}
        </div>
      </div>

      <p class="clearfix"><button {{action 'calculate'}} class="btn btn-default pull-right">Calculate</button></p>

      <p>
        {{result}}
      </p>

</form>
