<form>

  <div {{bind-attr class=":form-group :input-group cardNameError:has-error"}}>
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
    {{input value=cardName class="form-control" placeholder="Name on Card"}}
  </div>
  <div {{bind-attr class=":form-group :input-group cardNumberError:has-error"}}>
    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
    {{input id="card-number" value=cardNumber class="form-control" placeholder="Card Number" size="20"}}
    <span {{bind-attr class=":card cardIsVisa:visa cardIsMastercard:mc cardIsAmex:amex cardIsDiscover:discover"}}></span>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <div {{bind-attr class=":input-group cardExpiryError:has-error"}}>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          {{view "select"
            class="form-control"
            content=months
            optionLabelPath="content.id"
            optionValuePath="content.id"
            value=cardMonth
            prompt="MM"
          }}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div {{bind-attr class=":input-group cardExpiryError:has-error"}}>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          {{view "select"
            class="form-control"
            content=years
            value=cardYear
            prompt="YYYY"
          }}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div {{bind-attr class=":input-group cardCvcError:has-error"}}>
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          {{input value=cardCvc class="form-control" placeholder="CVC"  size="4"}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <div {{bind-attr class=":input-group couponError:has-error"}}>
          <span class="input-group-addon"><i class="fa fa-gift"></i></span>
          {{input value=coupon class="form-control" placeholder="Discount Code (optional)"}}
        </div>
      </div>
    </div>
  </div>

</form>
