<h2 {{bind-attr class="session.isAuthenticated:text-success"}}>
  {{#if session.isAuthenticated}}
    <i class="fa fa-check"></i>
  {{/if}}
  Make a profile
</h2>

{{#if error}}
  <div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> {{error}}
  </div>
{{/if}}

{{#if session.isAuthenticated}}

  <div class="authenticated">
    <p>
      Logged in as
      {{#link-to 'account'}}
        {{session.firstName}} {{session.lastName}}
      {{/link-to}}
    </p>
    <p><a {{ action 'invalidateSession' }}>Not {{session.firstName}}? Logout</a></p>
  </div>

{{else}}
  <form>
    <div class="form-group text-center">
      <button {{action 'toriiAuthenticate' false}} class="btn btn-blue">
        <i class="fa fa-facebook"></i>&nbsp; Sign up with Facebook
      </button>
    </div>
    <div class="or form-group">
      <hr>OR<hr>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{input value=firstName class="form-control" placeholder="First Name"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{input value=lastName class="form-control" placeholder="Last Name"}}
        </div>
      </div>
    </div>
    <div class="form-group">
      {{input value=email type="email" class="form-control" placeholder="Email"}}
    </div>
    <div class="form-group">
      {{input value=password type="password" class="form-control" placeholder="Password"}}
    </div>
  </form>

{{/if}}

{{#unless session.isAuthenticated}}
  {{#if showSubmit}}
    <button {{action 'signup' false}} {{bind-attr disabled=submitting class="submitting:disabled :btn :btn-warning"}}>
      <i {{bind-attr class="submitting::hidden :fa :fa-spin :fa-refresh"}}></i>
      &nbsp;
      Register
    </button>
  {{/if}}
{{/unless}}
