<!-- VIP Code modal -->
<div class="modal fade" id="sample-request" tabindex="-1" role="dialog" aria-labelledby="modal-beta-signup-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="modal-beta-signup-label">Get Free Samples</h2>
      </div>
      <div class="modal-body">

        <p>Just fill out the form to get a free taste of our protein.
          It's like the voice of Jesus/Fergie in the form of protein (so delicious).</p>

        <div class="col-md-6 text-center">
          {{register-form
              showSubmit=true
              toriiAuthenticate="toriiAuthenticate"
              invalidateSession="invalidateSession"
              applicationSignup="applicationSignup"
              applicationLogin="applicationLogin"}}
        </div>
        <div class="col-md-6 text-center">
          {{address-form
              addressWrapper=address
              address=address
              address2=address2
              city=city
              state=state
              zip=zip}}
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button {{action 'submit'}} type="button" class="btn btn-primary address-form-validate"><i {{bind-attr class="isSubmitting::hidden :fa :fa-spin :fa-refresh"}}></i> &nbsp;Submit</button>
      </div>
    </div>
  </div>
</div>
