<div class="modal fade" id="user-survey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">A few quick (optional) questions</h4>
      </div>
      <div class="modal-body">

        <p class="text-center">Tell us a little about yourself so we can help you achieve your fitness goals</p>
        <p class="text-muted text-center"><i>Shhh! We will never share your information.</i></p>

        <form>
          {{#unless session.isFacebookLinked}}
            <div class="row">
              <div class="col-sm-6">
                <p><label>Gender</label></p>
                <div class="radio">
                  <label>
                    {{radio-button value='male' checked=gender}}
                    Male
                  </label>
                </div>
                <div class="radio">
                  <label>
                    {{radio-button value='female' checked=gender}}
                    Female
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Age</label>
                  {{input type="text" value=age class="form-control" placeholder=""}}
                </div>
              </div>
            </div>
          {{/unless}}

          <div class="form-group">
            <label>Fitness Goals (check all that apply)</label>
            {{multiselect-checkboxes options=fitnessGoalsOptions selection=fitnessGoals}}
          </div>

          <div class="form-group">
            <label>Workout Types (check all that apply)</label>
            {{multiselect-checkboxes options=workoutTypesOptions selection=workoutTypes}}
            <label class="other">
              <input type="checkbox">
              Other:
            </label>
            <div class="row">
              <div class="col-sm-6">
                {{input type="text" value=workoutTypesOther class="form-control" placeholder=""}}
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button {{action 'skip'}} type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
        <button {{action 'submit'}} type="button" class="btn btn-primary"><i {{bind-attr class="isSubmitting::hidden :fa :fa-spin :fa-refresh"}}></i> &nbsp;Submit</button>
      </div>
    </div>
  </div>
</div>
