/*
-------------------------------------------------------
| Navbar
-------------------------------------------------------
*/

body {
  padding-top: 125px;
}
::-webkit-input-placeholder {
   color: #63676C !important;
   font-style: italic;
}
::-moz-placeholder {
   color: #63676C !important;
   font-style: italic;
}
:-ms-input-placeholder {
   color: #63676C !important;
   font-style: italic;
}
a:hover {
  cursor: pointer;
}
.btn.disabled {
  color: #666;
}
.navbar {
  background: #333;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}
.nav>li>a {
  font-weight: 400;
}
.navbar .navbar-nav a.active {
  color: #00b1ed;
}
.navbar-brand {
  display: inline-block;
  font-weight: 500;
}
.navbar-brand > img {
  display: inline-block;
}
.subheader {
  padding-top: 10px;
  background: #428bca;
  color: white;
  width: 100%;
  margin-top: -15px;
  position: fixed;
  z-index: 999;
  font-size: 18px;
}
.subheader.producthunt {
  background: #DA552F;
  padding: 30px 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  text-align: left;
}
.subheader.producthunt h2 {
  color: white;
}
.subheader.producthunt a,
.subheader.producthunt a:visited {
  color: white;
  text-decoration: underline;
}
section.section-top {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -40px;
  margin-bottom: 50px;
}
section.section-top h1 {
  font-weight: 500;
}
section.section-top .alert h1 {
  color: #4F5458;
  font-weight: 300;
}
section.section-top a {
  color: white;
  text-decoration: underline;
}
section.section-top .fa {
  font-size: 64px;
}
section.section-top .nav-tabs a span {
  font-size: 14px;
  color: white;
  padding: 4px 7px 4px 10px;
  margin-right: 3px;
  background: #555;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
section.section-top .nav-tabs li.has-success a span {
  background: #18A689;
  color: white;
}
section.section-top .nav>li>a {
  font-size: 16px;
  color: white;
}
section.section-top .nav-tabs > li.active > a {
  color: #555;
}
section.section-top .nav>li>a:hover {
  color: white;
  background: #66BEDB;
  border-color: transparent;
}
section.section-top .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
section.section-top img {
  border-radius: 5px;
}
section.section-top + section.section {
  padding-top: 0;
}
section.section {
  padding: 50px 0;
}
.input-group-addon {
  border: none;
}
.input-group-btn .btn {
  padding: 13px 24px 14px 24px;
}
.or {
  text-align: center;
  position: relative;
  font-weight: bold;
}
.or hr:first-child {
  right: auto;
  left: 0;
}
.or hr {
  width: 45%;
  position:absolute;
  top: 13px;
  right: 0;
  margin: 0;
}
input[type="submit"].submitLink {
  background: none;
  border: none;
  padding: 0;
  color: #00A2D9;
}
.modal {
  -webkit-overflow-scrolling: touch;
  position: absolute;
}
.modal-title {
  font-weight: bold;
  text-align: center;
}
.modal-body h2 {
  font-size: 24px;
}
section#footer {
  margin-top: 75px;
}
section#footer a,
section#footer a:hover,
section#footer a:visited {
  color: #777;
}
section#footer a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .navbar-brand {
    margin-left: 10px;
  }
  .subheader {
    background: white;
    color: #333;
    position: relative;
  }
}

/*
-------------------------------------------------------
| Index
-------------------------------------------------------
*/

.root#index section {
  padding: 100px 0;
}
.root#index section.section-splash {
  background-color: #428bca;
  background-size: cover;
  min-height: 100vh;
  color: white;
  margin-top: -125px;
}
.root#index section.section-splash .intro h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 80px;
  color: white;
  text-shadow: 0 0 25px rgba(0,0,0,0.5);
}
.root#index section.section-splash .intro .btn {
  padding: 14px 28px;
  font-size: 20px;
  text-transform: uppercase;
}
.root#index section.section-splash .intro p {
  font-weight: 500;
  margin-bottom: 30px;
}
.root#index section.section-splash img {
  max-height: 400px;
}
.root#index section.section-splash #sample {
  font-weight: bold;
  text-decoration: underline;
}
.root#index section#how {
  background: #E4E4E4;
  color: #333;
}
.root#index section#how .fa {
  font-size: 120px;
  color: #428bca;
}
.root#index #how p {
  max-width: 700px;
  display: inline-block;
}
.root#index #how p {
  margin: 20px 0;
}
.root#index blockquote h2 {
  font-style: italic;
}

@media (max-width: 767px) {
  .root#index section.section-splash .intro a {
    color: white;
    text-decoration: underline;
  }
}
@media (min-width: 768px) {
  .root#index section.section-splash {
    background-image: url('/assets/images/home-splash-bg.jpg');
  }
  .root#index section.section-splash .intro h1 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 20%;
  }
  .root#index section.section-product li {
    font-size: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .root#index #how p {
    font-size: 17px;
  }
  .root#index #how. p.lead {
    font-size: 18px;
  }
}

/*
-------------------------------------------------------
| Plans/index
-------------------------------------------------------
*/

.plans#index .panel {
  background: none;
}
.plans#index .panel-default {
  border: none;
}
.plans#index .panel-default .panel-body {
  box-shadow: none;
}
.plans#index .panel-default > .panel-heading {
  background: #999;
  color: white;
  box-shadow: none;
  border: none;
  padding: 0;
  border-radius: 5px;
}
.plans#index .panel-default.active > .panel-heading {
  background: #444;
}
.plans#index .panel-default > .panel-heading h4 {
  width: 100%;
  height: 100%;
  display: block;
  font-weight: 700;
}
.plans#index .panel-default > .panel-heading a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 15px;
  -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}
.plans#index .panel-default > .panel-heading a:hover {
  color: black;
}
.plans#index .panel-default.active > .panel-heading a:hover {
  color: white;
}
.plans#index .panel-default > .panel-heading a:focus {
  text-decoration: none;
}
#section-pricing .panel.active {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.plans#index #section-pricing .panel-default > .panel-heading {
  background: white;
  padding: 1px 0 15px 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.plans#index #section-pricing .panel-default > .panel-heading h3 {
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}
.plans#index #section-pricing .panel-default > .panel-heading h3.price {
  font-size: 30px;
  color: #00A2D9;
  font-weight: 500;
}
.plans#index #section-pricing .shipping {
  font-size: 12px;
}
.plans#index #section-pricing .plan-image {
  padding: 15px 0;
}
.plans#index #section-pricing .plan-image .double {
  color: #00A2D9;
  font-weight: bold;
  font-size: 64px;
}
.plans#index #section-pricing .plan-image img {
  display: inline-block;
  max-height: 151px;
}
.plans#index #section-pricing select.form-control {
  width: 50%;
  height: 30px;
  padding: 4px 8px;
}
.plans#index .panel-body h2 {
  text-align: center;
}
.plans#index .panel-body .account {
  height: 100%;
}
.plans#index .panel-body .account .authenticated {
  margin-top: 25%;
  text-align: center;
}
.plans#index #collapse-finish h2 {
  margin-bottom: 3px;
}
.plans#index #collapse-finish h5 {
  font-size: 14px;
  line-height: 28px;
}
.plans#index #collapse-finish h5 .fa {
  font-size: 25px;
  vertical-align: middle;
}
.plans#index  .form-group > span.card {
  position: absolute;
  top: 15px;
  right: 9px;
  display: block;
  width: 32px;
  height: 20px;
  z-index: 20;
  pointer-events: none;
}
.plans#index  .form-group > span.card.unknown {
  display: none;
}
.plans#index  .form-group > span.card.visa {
  background: url('https://a.stripecdn.com/checkout/v3/images/cards/visa-PN8VNASAyUCxB1J1kpg1fQ.png');
}
.plans#index  .form-group > span.card.mc {
  background: url('https://a.stripecdn.com/checkout/v3/images/cards/mastercard-HVnFbrioF3RgUWZV0DcA.png');
}
.plans#index  .form-group > span.card.amex {
  background: url('https://a.stripecdn.com/checkout/v3/images/cards/amex-rCwsUgG9VyC8v8BdohM3Rw.png');
}
.plans#index  .form-group > span.card.discover {
  background: url('https://a.stripecdn.com/checkout/v3/images/cards/discover-GhYYu271VuO3llRQeCQA.png');
}

@media (max-width: 767px) {
  .plans#index .panel-body {
    padding: 20px 0;
  }
  .plans#index #section-pricing .panel-default > .panel-heading h3 {
    font-size: 18px;
  }
  .plans#index #section-pricing .panel-default > .panel-heading h3.price {
    font-size: 20px;
  }
  .plans#index #section-pricing .plan-image {
    position: relative;
  }
  .plans#index #section-pricing .deluxe .plan-image {
    margin-top: -18px;
  }
  .plans#index #section-pricing .plan-image .double {
    position: absolute;
    top: 30px;
    font-size: 64px;
    width: 100%;
    left: 0;
  }
  .plans#index #section-pricing li {
    font-size: 14px;
  }
}

/*
-------------------------------------------------------
| Account
-------------------------------------------------------
*/

#account iframe {
  border: none;
  height: 21px;
}
#account iframe.like {
  width: 80px;
  margin-bottom: -5px;
}
#account .share-wrap {
  width: 53px;
  overflow: hidden;
  height: 21px;
  margin-bottom: -5px;
  display: inline-block;
  position: relative;
}
#account iframe.share {
  position: absolute;
  bottom: 0;
  left: -50px;
}
#account h1 .btn {
  margin-left: 15px;
}

/*
-------------------------------------------------------
| About
-------------------------------------------------------
*/

section.tour-section {
  border-bottom: solid 2px #E4DFDF;
}
section.tour-section:last-child {
  border-bottom: none;
}
section.tour-section img {
  border-radius: 5px;
}
section.tour-section .fa {
  font-size: 160px;
}

/*
-------------------------------------------------------
| Product
-------------------------------------------------------
*/

#product section.section-top {
  margin-bottom: 10px;
}
#product .splash {
  border: 8px solid rgb(236, 236, 236);
}
#product img {
  border-radius: 10px;
  width: 100%;
}
#product table {
  margin-top:50px;
}
#product thead {
  font-size: 12px;
}

/*
-------------------------------------------------------
| Register
-------------------------------------------------------
*/

@media (min-width: 768px) {
  #register section.section {
    padding-top: 50px;
    min-height: 500px;
  }
}

/*
-------------------------------------------------------
| Subscriptions/new
-------------------------------------------------------
*/

.subscriptions#new section.section {
  padding: 50px 0;
}

/*
-------------------------------------------------------
| Subscriptions/new
-------------------------------------------------------
*/

#product .img-responsive {
  display: inline-block;
}

/*
-------------------------------------------------------
| user-survey component
-------------------------------------------------------
*/

#user-survey ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#user-survey ul label,
#user-survey label.other {
  font-weight: normal;
}
#user-survey .radio {
  float: left;
  margin-top: 0;
  margin-right: 20px;
}
@media (min-width: 768px) {
  #user-survey ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
