<section class="section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <h1 class="slogan">Edit Address</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    {{address-form
        saveAddress="saveAddress"
        showError=showError
        showSaveButton=showSaveButton
        isSubmitting=isSubmitting
        addressWrapper=model.address
        address=model.address
        address2=model.address2
        city=model.city
        state=model.state
        zip=model.zip}}
  </div>
</div>
