<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bodshaperz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="canonical" href="https://bodshaperz.com">

    <meta property="og:url" content="https://www.bodshaperz.com" />
    <meta property="og:title" content="Bodshaperz" />
    <meta property="og:description" content="Bodshaperz provides your affordable monthly supply of protein in convenient daily packets. Use the VIP code 'bod2015' to signup today." />
    <meta property="og:image" content="https://www.bodshaperz.com/assets/images/logo-og-a22e60a22b4e56d7ddc8caba4cd9dc14.png" />

    {{content-for 'trackjs-config'}}
    {{content-for 'woopra'}}
    <script src="//d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js" data-token="9cf1bd87e5e84e73be5f336b401e6613"></script>

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/bodshaperz.css">
  </head>
  <body>

    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="assets/bodshaperz.js"></script>

    {{content-for 'olark'}}
  </body>
</html>
