<div class="container">

  <table class="table table-striped">

    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Gender</td>
        <td>Plan</td>
        <td>Address</td>
        <td>Address 2</td>
        <td>City</td>
        <td>State</td>
        <td>Zip</td>
      </tr>
    </thead>

    <tbody>

      {{#each model}}

        <tr>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.gender}}</td>
          <td>{{plan.name}}</td>
          <td>{{address.address}}</td>
          <td>{{address.address2}}</td>
          <td>{{address.city}}</td>
          <td>{{address.state}}</td>
          <td>{{address.zip}}</td>
        </tr>

      {{else}}
        Sorry, nobody is here.
      {{/each}}

    </tbody>

  </table>

</div>
