<div class="plans" id="index">

  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                      <i class="fa fa-shopping-cart"></i>
                      <h1 class="slogan">Pick a subscription</h1>
                      <p>No fees or commitments. Cancel, upgrade, or downgrade at any time.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="section">
      <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default active">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-plan" aria-expanded="true" aria-controls="collapse-plan">
                      1. Select Your Plan
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-plan" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div id="section-pricing">
                        <div class="row">

                          <div class="col-lg-4 col-lg-offset-2 col-xs-6">
                            <div {{bind-attr class="planIsStandard:active :plan-panel :panel :panel-default"}}>
                              <div class="panel-heading text-center">
                                <h3>Everyday Plan</h3>
                                <div class="plan-image text-center">
                                  <img class="img-responsive" src="/assets/images/product-box.png">
                                </div>
                                <h3 class="panel-title price text-warning">
                                  <span class="text-warning"><s>$30</s> <span class="price-month">per month</span></span><br>
                                  <!--<span class="text-warning shipping">+ <s>$4.99</s> S&amp;H</span><br>-->
                                  $15 <span class="price-month">first month</span>
                                </h3>
                              </div>
                              <ul class="list-group">
                                <li class="list-group-item"><i class="fa fa-check"></i> <strong>20</strong> individual packets/month</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> 24g whey protein/serving</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> Free gifts from us every month</li>
                                <li class="list-group-item">
                                  Frequency:
                                  <select onchange={{action "selectPlan" value="target.value"}} class="form-control frequency">
                                    {{#each standardFrequencies as |option|}}
                                      <option value={{option.id}} selected={{eq frequency option.id}}>{{option.name}}</option>
                                    {{/each}}
                                  </select>
                                </li>
                                <li class="list-group-item m-b-20">
                                  <button {{bind-attr class="planIsStandard:active :btn :btn-warning :btn-block :plan :btn-plan" aria-pressed="planIsStandard"}} data-plan="Standard">
                                    {{#if planIsStandard}}<i class="fa fa-check"></i>{{/if}} Select{{#if planIsStandard}}ed{{/if}}
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="col-lg-4 col-xs-6">
                            <div {{bind-attr class="planIsDeluxe:active :plan-panel :panel :panel-default :deluxe"}}>
                              <div class="panel-heading text-center">
                                <h3>Muscle Building Plan</h3>
                                <div class="plan-image text-center">
                                  <img class="img-responsive" src="/assets/images/product-box.png">
                                  <span class="double">&times; 2</span>
                                </div>
                                <h3 class="panel-title price text-warning">
                                  <span class="text-warning"><s>$45</s> <span class="price-month">per month</span></span><br>
                                  <!--<span class="text-warning shipping">+ <s>$4.99</s> S&amp;H</span><br>-->
                                  $22.50 <span class="price-month">first month</span>
                                </h3>
                              </div>
                              <ul class="list-group">
                                <li class="list-group-item"><i class="fa fa-check"></i> <strong>40</strong> individual packets/month</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> 24g whey protein/serving</li>
                                <li class="list-group-item"><i class="fa fa-check"></i> Free gifts from us every month</li>
                                <li class="list-group-item">
                                  Frequency:
                                  <select onchange={{action "selectPlan" value="target.value"}} class="form-control frequency">
                                    {{#each deluxeFrequencies as |option|}}
                                      <option value={{option.id}} selected={{eq frequency option.id}}>{{option.name}}</option>
                                    {{/each}}
                                  </select>
                                </li>
                                <li class="list-group-item m-b-20">
                                  <button {{bind-attr class=":plan :btn-plan :btn :btn-warning :btn-block planIsDeluxe:active" aria-pressed=planIsDeluxe}} data-plan="Deluxe">
                                    {{#if planIsDeluxe}}<i class="fa fa-check"></i>{{/if}} Select{{#if planIsDeluxe}}ed{{/if}}
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.panel -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-account" aria-expanded="false" aria-controls="collapse-account">
                      2. Create Your Account
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-account" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="col-md-6 account">
                        {{register-form
                            registerAs=registerForm
                            facebook=facebook
                            firstName=firstName
                            lastName=lastName
                            email=email
                            password=password
                            error=registerFormError
                            submitting=registerFormSubmitting
                            invalidateSession="invalidateSession"}}
                      </div>
                      <div class="col-md-6">
                        {{address-form
                            showError=showShippingError
                            isValidWrapper=shippingIsValid
                            addressWrapper=address
                            address=address
                            address2=address2
                            city=city
                            state=state
                            zip=zip}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="row text-center">
                        <button {{bind-attr disabled=registerFormSubmitting class="registerFormSubmitting:disabled :btn :btn-warning :btn-lg :goToLastStep :address-form-validate"}}>
                          <i {{bind-attr class="registerFormSubmitting::hidden :fa :fa-spin :fa-refresh"}}></i>
                          &nbsp;
                          Next Step
                        </button>
                      </div>
                    </div><!-- /.panel-body -->
                  </div><!-- /#collapse-account -->
                </div><!-- /.panel -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed goToLastStep address-form-validate" data-toggle="collapse" data-parent="#accordion" href="#collapse-finish" aria-expanded="false" aria-controls="collapse-finish">
                      3. Finish Up
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-finish" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">

                        <div class="alert alert-success" role="alert">
                          Don't worry! Your card will not be charged until your second month starts. Cancel, upgrade, or downgrade at any time.
                        </div>

                        <div class="col-md-6">

                          <h2>Payment Details</h2>
                          <h5 class="text-muted text-center">Secured by <i class="fa fa-cc-stripe"></i></h5>

                          {{payment-form
                            registerAs=paymentForm
                            test=test
                            coupon=coupon
                            cardErrorMessage=cardErrorMessage}}

                        </div>
                        <div class="col-md-6 text-center">

                          <h2>Order Total</h2>

                          {{#if cardErrorMessage}}
                            <div class="alert alert-danger" role="alert">
                              <strong>Whoops!</strong> {{cardErrorMessage}}
                            </div>
                          {{/if}}
                          <h2 class="text-warning">${{price}}</h2>
                          <h4 {{bind-attr class="shippingIsFree:hidden :text-muted"}}>+ ${{shippingPrice}} S&amp;H</h4>

                          <div class="form-group">
                            <button {{action 'completeOrder'}} class="btn btn-lg btn-blue" {{bind-attr disabled=submitting}}>
                              {{#if submitting}}
                                <i class="fa fa-refresh fa-spin"></i>&nbsp;
                              {{/if}}
                              Complete Order
                            </button>
                          </div>
                          <div class="form-group">
                            {{input type="checkbox" checked=acceptTerms}}
                            I accept the <a href="/terms" target="_blank">Terms of Service</a>
                          </div>

                        </div>
                    </div>
                  </div>
                </div><!-- /.panel -->
              </div><!-- /#accordion -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </section>

  <div id="google-conversion"></div>

  {{user-survey}}

</div>
