<section class="section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <h1 class="slogan">Edit Subscription</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <p>
      After changing plans, you will not be charged until the next billing date.
    </p>

    <form {{action 'submit' on='submit'}}>

      <div class="form-group">
        {{view "select"
          class="form-control"
          content=plans
          optionLabelPath="content.name"
          optionValuePath="content.id"
          value=planStripeId
        }}
      </div>

      <div class="form-group">
        <button {{bind-attr disabled=isSubmitting class="isSubmitting:disabled :btn :btn-warning :pull-right"}} {{action 'submit'}}>
          <i {{bind-attr class="isSubmitting::hidden :fa :fa-spin :fa-refresh"}}></i>
          &nbsp;
          Save
        </button>
      </div>

    </form>
  </div>
</div>
