<div id="new" class="subscriptions">

  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                      <i class="fa fa-shopping-cart"></i>
                      <h1 class="slogan">Get Started</h1>
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="disabled has-success">
                          <a class="disabled tab-control" href="#register" role="tab" data-toggle="tab"><span>1</span> Register or login</a>
                        </li>
                        <li role="presentation"  {{bind-attr class=":active shippingIsDone:has-success"}}>
                          <a class="tab-control" href="#shipping" role="tab" data-toggle="tab"><span>2</span> Shipping</a>
                        </li>
                        <li role="presentation" {{bind-attr class="shippingIsDone::disabled billingIsDone:has-success"}}>
                          <a {{bind-attr class="shippingIsDone::disabled :tab-control :tab-billing"}} href="#billing" role="tab" data-toggle="tab"><span>3</span> Billing</a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="shipping">

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    {{input type="text" value=shippingAddress.firstName class="form-control" placeholder="First Name"}}
                  </div>
                  <div class="col-md-6">
                    {{input type="text" value=shippingAddress.lastName class="form-control" placeholder="Last Name"}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                {{input type="text" value=shippingAddress.address class="form-control" placeholder="Address Line 1"}}
              </div>

              <div class="form-group">
                {{input type="text" value=shippingAddress.address2 class="form-control" placeholder="Address Line 2"}}
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    {{input type="text" value=shippingAddress.city class="form-control" placeholder="City"}}
                  </div>
                  <div class="col-md-3">
                    {{input type="text" value=shippingAddress.state class="form-control" placeholder="State"}}
                  </div>
                  <div class="col-md-3">
                    {{input type="text" value=shippingAddress.zip class="form-control" placeholder="Zip"}}
                  </div>
                </div>
              </div>

              <button {{action 'tabBilling'}} {{bind-attr class="shippingIsDone::disabled :btn :btn-primary :pull-right :tab-control"}}>Next</button>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="billing">

              <input name="utf8" type="hidden" value="â">
              <input name="authenticity_token" type="hidden" value="2MA7tfw6+bWNzSGfKsnsXc7IesmY3FbS+1DnSgJfbbY=">
              <div id="stripeError" class="errorExplanation" style="display:none"></div>

              <div class="form-group">
                {{input type="text" value=card.number placeholder="Card Number" class="form-control" maxlength="19" name="card_number" required="true"}}
              </div>
              <div class="form-group">
                {{input type="text" value=card.expire placeholder="Expires (MM/YY)" class="form-control" name="card_expiry" required="true"}}
              </div>
              <div class="form-group">
                {{input type="text" value=card.code placeholder="Code" class="form-control" name="card_code" size="5" required="true"}}
              </div>

              <input class="btn btn-success pull-right" name="commit" type="submit" value="Subscribe">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
