<div id="about">

  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                      <h1 class="slogan">About Us</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-10 col-lg-8">

      <h1>What we do</h1>

      <p>Bodshaperz provides high quality whey protein on a monthly subscription basis</p>

      <p><strong>Convenience is what we are about</strong></p>

      <p>Receive inidividual packets of protein that are convenient to
        take with you to the gym or school/work in a bag or even your pocket.
        Forget about those large 5 pound tubs of protein!</p>

      </div>

      <div class="col-md-2 col-lg-4">
        <img class="img-responsive" src="/assets/images/product.png">
      </div>
    </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-2 col-lg-4">
        <i class="fa fa-border fa-money"></i>
      </div>

      <div class="col-md-10 col-lg-8 pull-right">

      <h1>Pay less</h1>

      <p>We have a flat rate price of $30 or $45 a month depending on if you want 20 packets or 40 packets.</p>

      <p><strong>No hidden charges.</strong> Shipping &amp; handling is free.</p>

      <p>Stop having to pay $50 monthly and having to subscribe to membership clubs to get better deals.</p>

      </div>
    </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-10 col-lg-8">

      <h1>Not the typical supplement brand</h1>

      <p>Our motto is “Mindset -> Nutrition -> Workouts -> Supplements”.</p>

      <p><strong>We don’t make unrealistic claims</strong> that everyone who takes our protein will become a body builder.</p>

      <p>We don’t try to upsell our consumers on a bunch of supplements that they do not need.
        Everyone has different goals and nutrition needs to help reach their goal.</p>

      <p>The one common element is that taking a whey protein supplement daily is beneficial for everyone
        especially those that workout, since most of us do not receive the amount of protein we need.</p>

      </div>

      <div class="col-md-2 col-lg-4">
        <img class="img-responsive" src="/assets/images/motto.png">
      </div>
    </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-2 col-lg-4">
        <i class="fa fa-border fa-sliders"></i>
      </div>

      <div class="col-md-10 col-lg-8 pull-right">

      <h1>Choose your size</h1>

      <p>Get 20 packets or 40 packets.</p>

      <p>We recommend the 20 pack per month plan for most individuals, unless you are trying to build/maintain serious muscle mass or an athlete.</p>

      <p>What are you waiting for?? <a href="#modal-beta-signup" data-toggle="modal" data-target="#vip-signup">Try us today</a>!</p>

      </div>
    </div>
  </section>

</div>
