<div id="account">

  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                    {{#if session.fbPicture}}
                      <img {{bind-attr src=session.fbPicture}}>
                    {{else}}
                      <i class="fa fa-user"></i>
                    {{/if}}
                    <h1 class="slogan">{{session.firstName}} {{session.lastName}}</h1>
                    <p>{{session.email}}</p>
              </div>
              <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                  <h1>Help us help you</h1>
                  <ul>
                    <li>
                      Like our Facebook page:
                      <iframe class="like" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbodshaperz&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=1522813837967542" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                      <div class="share-wrap">
                        <iframe class="share" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fbodshaperz.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=1522813837967542" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                      </div>
                    </li>
                    <li>
                      <form action="https://app.leaddyno.com/provision" method="post">
                        {{input value=session.email type="hidden" name="email"}}
                        <input type="hidden" name="key" value="aa5cc1ad57a1cf9b0df05d79a82382fa83435cc1"/>
                        <input class="submitLink" type="submit" value="Join Our Affiliate Program"/>
                      </form>
                    </li>
                    <li>
                      Have questions or want to cancel? Contact <a href="mailto:team@bodshaperz.com">team@bodshaperz.com</a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
  </section>

  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <h1>
          My Subscription{{#if multiSubscription}}s{{/if}}
          {{#link-to 'plans.index' class="btn btn-warning"}}Add New{{/link-to}}
        </h1>
        {{#if multiSubscription}}
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date Started</th>
                  <th>Address</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {{#each subscription in model.subscriptions}}
                  <tr>
                    <td>{{subscription.createdAtMoment}}</td>
                    <td>{{subscription.address.address}}&hellip;</td>
                    <td>{{subscription.plan.name}}</td>
                    <td>${{subscription.plan.price}}</td>
                    <td>{{#link-to 'subscription' subscription}}Details{{/link-to}}</td>
                  </tr>
                {{/each}}
              </tbody>

            </table>
          </div>
        {{else if singleSubscription}}
          {{#each subscription in model.subscriptions}}
            <div class="well">
              <h2>{{subscription.plan.name}} <span class="pull-right">${{subscription.plan.price}}<small>/month</small></span></h2>
              <p>
                {{#link-to 'subscriptions.edit' subscription}}Edit Subscription{{/link-to}}
              </p>
              <p>
                <strong>Start Date:</strong>
                {{subscription.createdAtMoment}}
              </p>
              <p>
                <strong>Next Order:</strong>
                {{subscription.nextBill}}
              </p>
              <p>
                <strong>Shipping Address:</strong>
              </p>
              <p>
                <address>
                  {{subscription.address.address}}<br>
                  {{#if subscription.address.address2}}
                    {{subscription.address.address2}}<br>
                  {{/if}}
                  {{subscription.address.city}},
                  {{subscription.address.state}}
                  {{subscription.address.zip}}
                </address>
              </p>
              <p>
                {{#link-to 'addresses.edit' subscription.address}}Edit Address{{/link-to}}
              </p>
            </div>
          {{/each}}
        {{else}}
          No subscriptions found. {{#link-to 'plans.index'}}Signup Now!{{/link-to}}
        {{/if}}

      </div>

      <div class="col-md-6">

        <h1>Calorie Calculator</h1>
        <p><i>Estimate the calories you need to consume each day</i></p>
        {{calorie-calculator}}

      </div>

    </div>

    <div class="row">

      <div class="col-md-6">

        <h1>My Invoices</h1>
        {{#if model.invoices}}
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount Due</th>
                  <th>Paid</th>
                  <th>Tracking Code</th>
                </tr>
              </thead>

              <tbody>
                {{#each invoice in model.invoices}}
                  <tr>
                    <td>{{invoice.dateMoment}}</td>
                    <td>{{invoice.invoiceAmount}}</td>
                    <td>{{invoice.isPaid}}</td>
                    <td>
                      <a target="_blank" {{bind-attr href=invoice.shipment.trackingUrl}}>
                        {{invoice.shipment.easyPostTrackingCode}}
                      </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>

            </table>
          </div>
        {{else}}
          Invoices will show here after being processed.
        {{/if}}

      </div>

    </div>
  </div>

</div>
