<!-- BEGIN TOPBAR -->
<nav class="navbar navbar-fixed-top" role="navigation" data-0="line-height:85px; height:85px; background-color:rgba(43,46,51,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(43,46,51,1);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars c-white"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}
                <img src="/assets/images/logo-white-50x50.png" data-0="line-height:80px" data-300="line-height:58px" alt="logo" width="50" height="50">
                Bodshaperz
            {{/link-to}}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:7px;">
                {{#active-link}}
                  {{#link-to 'index'}}Home{{/link-to}}
                {{/active-link}}

                {{#active-link}}
                  {{#link-to 'product'}}Product{{/link-to}}
                {{/active-link}}

                {{#active-link}}
                  {{#link-to 'contact'}}Contact{{/link-to}}
                {{/active-link}}

                <li><a href="http://blog.bodshaperz.com">Blog</a></li>

                {{#if session.isAuthenticated}}

                  {{#active-link}}
                    {{#link-to 'account'}}<i class="fa fa-user"></i> <strong>Account</strong>{{/link-to}}
                  {{/active-link}}
                  <li>
                    <a {{ action 'invalidateSession' }}>Logout</a>
                  </li>

                {{else}}

                  {{#active-link}}
                    {{#link-to 'plans'}}
                      <strong>Signup</strong>
                    {{/link-to}}
                  {{/active-link}}

                  {{#active-link}}
                    {{#link-to 'login'}}Login{{/link-to}}
                  {{/active-link}}
                  
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<!-- END TOPBAR -->

{{outlet}}

<!-- BEGIN FOOTER -->
<section id="footer" class="section footer">
    <div class="container">
        <div class="row animated opacity m-b-20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    <li>
                      <a target="_blank" href="https://www.facebook.com/bodshaperz" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="https://twitter.com/bodshaperz" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://instagram.com/bodshaperz" class="icoRss" title="Instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <ul class="pull-right list-unstyled">
                  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
                  <li>
                    {{#link-to 'plans'}}
                      Signup
                    {{/link-to}}
                  </li>
                  <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'product'}}Nutrition{{/link-to}}</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="pull-left list-unstyled">
                  <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
                  <li><a href="http://blog.bodshaperz.com">Blog</a></li>
                  <li>{{#link-to 'terms'}}Terms{{/link-to}}</li>
                  <li>{{#link-to 'privacy'}}Privacy{{/link-to}}</li>
                </ul>
            </div>
        </div>
        <div class="row align-center copyright">
            <div class="col-sm-12">
                <p>&copy; 2014 Bodshaperz</p>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->

{{sample-request invalidateSession="invalidateSession"}}
