<div id="contact">

  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                      <i class="fa fa-comments-o"></i>
                      <h1 class="slogan">Contact Us</h1>
                      <p>Fill out the form below or email us at <a href="mailto:team@bodshaperz.com" target="_top">team@bodshaperz.com</a></p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- BEGIN CONTACT SECTION -->
  <section id="section-contact" class="section appear clearfix">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                  <div class="cform">
                      {{#if emailSuccess}}
                        <div class="alert alert-success alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <strong>Success!</strong> We have received your message and will get back to you soon.
                        </div>
                      {{/if}}

                      {{#if emailError}}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <strong>Oh Snap!</strong> Error sending email.
                        </div>
                      {{/if}}
                      <form role="form" id="contact-form" class="contactForm">
                          <div class="form-group">
                              {{input type="text" value=message.name class="form-control" placeholder="Full Name" required="true"}}
                          </div>
                          <div class="form-group">
                              {{input type="email" value=message.email class="form-control" placeholder="Email" required="true"}}
                          </div>
                          <div class="form-group">
                              {{input type="text" value=message.subject class="form-control" placeholder="Subject" required="true"}}
                          </div>
                          <div class="form-group">
                              {{textarea value=message.message class="form-control" rows="5"
                                  placeholder="Your message" required="true"}}
                          </div>
                          <button {{bind-attr disabled=sendDisabled}} class="btn btn-warning pull-right" {{action 'submit'}}>SEND MESSAGE</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- END CONTACT SECTION -->

</div>
