<div class="root" id="index">

  <!-- BEGIN SPLASH -->
  <section class="section-splash text-center">
    <!-- this won't show if url is ?ref=producthunt -->
    {{#unless ref}}
      <div class="subheader align-center">
          <p><strong class="text-uppercase">Sign up now and get your first month half off!</strong></p>
          <div class="clearfix"></div>
      </div>
    {{/unless}}
    {{#if ref}}
      <div class="subheader producthunt">
        <div class="container">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="/assets/images/producthunt.png">
              </a>
            </div>
            <div class="media-body media-middle">
              <h2 class="text-uppercase media-heading">Welcome ProductHunters!</h2>
              <p>{{#link-to 'plans'}}Sign up now{{/link-to}} and get your first month FREE.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    {{/if}}
    <div class="container intro">
          <h1>Whey Protein</h1>
          <p>Each month, we send you a new supply of protein packets and a free gift.</p>
          <p>
            {{#link-to 'plans' class="btn btn-warning btn-lg"}}
              Get half off your first month!
            {{/link-to}}
          </p>
          <a data-toggle="modal" data-target="#sample-request">Get Free Samples</a>
    </div>
  </section>
  <!-- END SPLASH -->

  <section id="how" class="text-center">
    <div class="container">

      <h1>How it works</h1>

      <p class="subhead">Bodshaperz simplifies your supplement shopping. Select the amount of protein,
          pay only the cost of the protein, and we send it to your door every month.</p>

      <div class="row">

        <div class="col-sm-4">
          <p><i class="fa fa-check-circle-o"></i></p>
          <h2>Choose a plan</h2>
          <p>
            How many packets do you want each month? 20? 40? The choice is up to you.
          </p>
        </div>

        <div class="col-sm-4">
          <p><i class="fa fa-trophy"></i></p>
          <h2>Live the automated life</h2>
          <p>
            Your protein packets come to you every four weeks. It's that simple!
            Oh, and free gifts every month.
          </p>
        </div>

        <div class="col-sm-4">
          <p><i class="fa fa-unlock-alt"></i></p>
          <h2>No rules</h2>
          <p>
            There are no fees or commitments. You can cancel, upgrade, or downgrade at any time.
          </p>
        </div>

      </div>

    </div>
  </section>

  <section class="text-center">
    <div class="container">

        <blockquote>
          <h2 class="text-muted">"I enjoy running out of protein because I forgot to order more."</h2>
          <footer>No one, ever</footer>
        </blockquote>

    </div>
  </section>

  <div class="text-center">

        {{#link-to 'product' class="btn btn-warning btn-lg"}}
          Learn more
        {{/link-to}}

        {{#link-to 'plans' class="btn btn-primary btn-lg"}}
          Get started
        {{/link-to}}

  </div>

</div>
