<div id="login">
  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                      <i class="fa fa-user"></i>
                      <h1 class="slogan">Login</h1>
                      <p>Have questions? Email us at <a href="mailto:team@bodshaperz.com" target="_top">team@bodshaperz.com</a></p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
        <div class="form-group text-center">
          <button {{action 'toriiAuthenticate'}} class="btn btn-blue">
            <i class="fa fa-facebook"></i> &nbsp;Login with Facebook
          </button>
        </div>
        <div class="or form-group">
          <hr>OR<hr>
        </div>
        <form {{action 'authenticate' on='submit'}}>
          <div class="form-group">
            {{input value=identification placeholder='Email' class='form-control'}}
          </div>
          <div class="form-group">
            {{input value=password placeholder='Password' class='form-control' type='password'}}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning pull-right">Login</button>
          </div>
        </form>
        <div class="clearfix"></div>
        {{#link-to 'resetPassword'}}Forgot your password?{{/link-to}}
      </div>
    </div>

  </div>
</div>
