<div id="privacy">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <h1>Privacy Policy</h1>

        <p>
          Bodshaperz Inc. (“Bodshaperz”, “we” or “us”), the operator of this web site,
          is committed to preserving the privacy of those who visit
          <a target="_blank" href="http://www.bodshaperz.com">http://bodshaperz.com site</a>
          (the “Site”). This document will outline how we gather and utilize various
          sources of information obtained during your visit to the Site. We adhere to
          the Safe Harbor Agreement concerning the transfer of personal data from the
          European Union (“EU”) to the United States of America. Accordingly, we follow
          the Safe Harbor Principles published by the
          <a href="https://safeharbor.export.gov/list.aspx">U.S. Department of Commerce</a>
          (the “Principles”) with respect to all such data. If there is any conflict
          between the Policies in this privacy policy and the Principles, the Principles
          shall govern. This Privacy Policy applies solely to information collected at
          this Site, and is made a part of and incorporated into the
          <a href="/terms">Site Terms and Conditions</a>.
        </p>

        <p>
          This Privacy Policy communicates how, when, and why we gather
          information about our customers and what we do with it.
        </p>

        <p>
          THIS PRIVACY POLICY DOES NOT APPLY TO OTHER WEBSITES TO WHICH WE LINK.
          YOU AGREE THAT YOUR USE OF THE SITE SIGNIFIES YOUR ASSENT TO THIS
          PRIVACY POLICY. IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY, YOU ARE
          NOT AUTHORIZED TO USE THIS SITE.
        </p>

        <h2>Information Collected</h2>

        <p>
          If you subscribe to Bodshaperz and/or place an order through
          bodshaperz.com, we will ask you for your name, e-mail address,
          shipping address, telephone number and credit card information or
          certain other personally identifiable information about yourself
          ("Personal Information"). We use this information to process and
          fulfill your order and to notify you of your order status. All
          archived credit card information is maintained in a secure and safe
          environment. Telephone numbers and e-mail addresses are used to
          contact you regarding your order. In addition, when you respond to a
          contest, survey, questionnaire, sweepstakes or other promotional
          feature, we may ask you for your name, address and email address or
          other Personal Information.  Bodshaperz will never sell, rent or share
          your Personal Information, including your e-mail address, with any
          third parties for marketing purposes without your express permission.
          In addition, we may also collect non-personally identifiable information, such
          as IP host address, pages viewed, browser type, duration and frequency of
          visits, and other data, and may aggregate any information collected in a manner
          which does not identify any individual ("Aggregate Information"). Information
          obtained in connection with the Site may be intermingled with and used by us in
          conjunction with information obtained through sources other than the Site,
          including both offline and online sources.
        </p>

        <h2>How We Use Your Information</h2>

        <p>
          We will not share or disclose your information to anyone except as
          described in this Privacy Policy. We use Personal Information in order
          to give you a more enjoyable convenient shopping experience and to
          help us identify and/or provide information, products or services that
          may be of interest to you. We use your Personal Information to support
          and enhance your use of the Site and its features, including without
          limitation: fulfilling your order; providing customer service;
          tracking email invitations you send; and otherwise supporting your use
          of the Site. We may also track your past purchases to provide you with
          a personalized profile of your shopping history. In addition, we may
          notify you about new services or special promotional programs, or send
          you offers or information. In connection with their performance of
          services to maintain and operate the Site and certain features on the
          Site, certain trusted third parties may be permitted to access your
          information. For example, we may use third parties to host the Site;
          operate various features available on the Site; send emails; analyze
          data; provide search results and links and assist in fulfilling your
          orders. Unless you specifically consent to the disclosure of your
          Personal Information, aside from us, only our affiliates, technical
          consultants, third party auditors and other third parties who make our
          Site available, enhance its functionality, assist with the processing
          of your purchases, or provide associated services and/or who deal with
          you in delivering content, samples, products, gifts and prizes, have
          access to this information, and we require them to agree that they are
          covered by this policy.
        </p>

        <p>
          Please note that Bodshaperz reserves the right to and may disclose
          Personal Information about you in response to (a) requests from local,
          state or federal law enforcement officials; (b) any judicial,
          administrative or similar proceeding or order, such as subpoena; (c)
          if required by law; or (d) to investigate suspected fraud, harassment,
          physical threats, or other violations of any law, rule or regulation,
          the Site rules or policies, or the rights of third parties or to
          investigate any suspected conduct which we deem improper. Please also
          note that we do reserve the right to transfer your Personal
          Information and other information as an asset in connection with a
          proposed or actual merger or sale (including any transfers made as
          part of an insolvency or bankruptcy proceeding) involving all or part
          of our business or as part of a corporate reorganization, stock sale
          or other change in control. In such a circumstance the Transferee
          would be bound by the terms of this Privacy Policy. We use
          non-personally identifiable information in the aggregate, so that we
          can improve the Site and for business and administrative purposes. We
          may also use or share with third parties for any purpose aggregated
          data that contains no personally identifiable information.
        </p>

        <p>
          If you submit your email address to be added to a mailing list or
          Sweepstakes or other promotion, we will use the email address for the
          sole purpose of sending you announcements, special offers from
          Bodshaperz and its promotional partners along with site updates. You
          can unsubscribe from our mailing lists by sending an email to
          <a href="mailto:info@Bodshaperz.com">info@Bodshaperz.com</a>.
        </p>

        <p>
          If you elect to use our referral services for informing a friend about
          our site, we ask you for the friend's name and email address.
          Bodshaperz will automatically send the friend a one-time email
          inviting them to visit the site. Bodshaperz stores this information
          for the sole purpose of sending this one-time email and tracking the
          success of our referral program. The friend may contact Bodshaperz to
          request the removal of this information from our database.
        </p>

        <h2>Use of Cookies</h2>

        <p>
          Our Site may pass a "cookie" (a string of information that is sent by
          a web site to be resident on your system's hard drive, and/or
          temporarily in your computer's memory blocks). The purpose of a cookie
          is to tell the web server that you have returned to a particular page.
          The Site may use cookies in on-line catalogs to keep track of your
          status and contents of your shopping cart. or to retain information
          gathered in cookies to allow you access to password-protected areas
          of the Site . You may set your browser to decline cookies. If you do
          so, however, you may not be able to fully experience some interactive
          features of the Site.
        </p>

        <h2>How We Protect Your Information</h2>

        <p>
          We are committed to protecting the information we receive from you. However, Bodshaperz will not be liable for disclosures of your Personal Information due to errors in transmission or unauthorized acts of third parties. We have undertaken all commercially reasonable efforts to prevent unauthorized Internet access to visitor data retained in our servers, however, due to the inherent open nature of the Internet, Bodshaperz cannot ensure or warrant the security of any information you transmit to us or any information provided online, and you do so at your own risk. Users must accept all risks associated with any data transmission, including the risk that their Personal Information may be intercepted in transit.
        </p>

        <p>
          The Site encrypts your credit card number and other Personal Information using secure socket layer (SSL) technology to provide for the secure transmission of the information from your PC to our servers. In addition, only those employees and third parties who need access to you information in order to perform their duties are allowed such access.
        </p>

        <h2>Accessing and Updating Your Personal Information and Preferences</h2>

        <p>
          If you are a registered user, you may access and update your registration information and your preferences to receive email or other communications from us by sending an email to info@bodshaperz.com. We will take commercially reasonable steps to implement your opt-out requests promptly, but you may still receive communications from us for up to ten business days as we process your request.
        </p>

        <p>
          While we make efforts to accommodate requests to restrict our use of your information, we reserve the right to delete all or any portion of customer information if we are not able to reasonably accommodate a requested restriction.
        </p>

        <h2>Enforcement and Dispute Resolution</h2>

        <p>
          Bodshaperz uses a self-assessment approach to assure compliance with this privacy policy and periodically verifies that the policy is accurate, comprehensive for the information intended to be covered, prominently displayed, completely implemented and accessible and in conformity with the Principles. We encourage interested persons to raise any concerns using the contact information provided and we will investigate and attempt to resolve any complaints and disputes regarding use and disclosure of Personal Information in accordance with the Principles.
        </p>

        <p>
          Bodshaperz Inc participates in the U.S. - E.U. Safe Harbor framework and the U.S. - Swiss Safe Harbor as set forth by the United States Department of Commerce.
        </p>

        <h2>Children's Privacy and Parental Controls</h2>

        <p>
          This Site is not intended for persons under the age of 13, and we have no intention of collecting or soliciting Personal Information from persons under the age of 13. If you are not 13 or older, you are not authorized to use the Site. Parents should be aware that there are parental control tools available online that you can use to prevent your children from submitting information online without parental permission or from accessing material that is harmful to minors. If a child under age 13 has provided us with Personal Information, we will use all reasonable efforts to delete such information from our database.
        </p>

        <h2>Links To Third Party Sites</h2>

        <p>
            Our Site may contain links to other web sites, including our affiliated or co-branded web sites. Other web sites may also reference or link to our Site. These "other" domains (web sites) are not controlled by Bodshaperz. We encourage our users to be aware when they leave our Site to read the privacy policies of each and every web site that collects personally identifiable information. We do not endorse, screen or approve, and are not responsible for the privacy practices or content of such other web sites. Visiting these other web sites is at your own risk.
        </p>

        <h2>Site Terms and Conditions</h2>

        <p>
          Use of this Site is governed by, and subject to, the legal notices contained in our <a href="/terms">Terms and Conditions</a>. Your use, or access, of the Site constitutes your agreement to be bound by these provisions. IF YOU DO NOT AGREE TO THESE TERMS YOU MAY NOT ACCESS OR OTHERWISE USE THE SITE.
        </p>

        <h2>Privacy Policy Changes</h2>

        <p>
          We reserve the right, at our discretion, to change, modify, add, or remove portions from this policy at any time. If we decide to change our Privacy Policy for the Site, we will post the revised Privacy Policy here so that you will always know what information we gather, how we might use that information and whether we may disclose it to anyone. Any changes will be consistent with the stated Principles of the Safe Harbor Agreement. Your continued use of the Site indicates your assent to the Privacy Policy as posted. Please check this page periodically for changes to this Privacy Policy.
        </p>

        <p>
          If you have any questions about the Bodshaperz.com Privacy Policy please contact us at:
        </p>

        <p>
          Bodshaperz Inc<br>
          WeWork #4102<br>
          7083 Hollywood Blvd<br>
          Los Angeles, CA 91423<br>
          (847) 571-0036<br>
          <a href="mailto:info@bodshaperz.com">info@bodshaperz.com</a><br>
          United States of America
        </p>

        <p>
          Our Site is maintained in the United States of America. By using the Site, you authorize the export of Personal Information to the USA and its storage and use as specified in this policy.
        </p>

        <p>
          Effective Date: This Privacy Policy is effective and was last updated on December 16, 2014.
        </p>

      </div>
    </div>
  </div>
</div>
