<div id="product">

  <!--<section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                      <h1 class="slogan">Our Product</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>-->

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          <strong>Summer promo!</strong>
          {{#link-to 'plans'}}
            Sign up
          {{/link-to}}
          now and get your first month half off!
        </div>
        <div class="cleaffix"></div>
        <img class="splash" src="/assets/images/product-splash.jpg">
      </div>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-center">The True Strength of Bodshaperz Protein</h3>

              <ul>
                <li>24 grams of whey protein per serving</li>
                <li>Only 2 grams of fat, 3.5 grams of carbs, &amp; 120 calories</li>
                <li>Only 5 ingredients (no need for all the other stuff)</li>
                <li>Amazing Taste</li>
                <li>Individual Packets (We are tired of those 5 pound tubs too)</li>
                <li>Delivery every 4 weeks. No need to go to the store anymore</li>
                <li>Free gifts with every box (i.e. Shaker bottles, clothing, sample products). Yes...FREE!</li>
              </ul>

              <p>
                Interested?
                {{#link-to 'plans'}}
                  Join us!
                {{/link-to}}
                Not sure?
                <a href="#" {{action 'goToAnchor' 'how' 'index'}}>
                  Learn how it works.
                </a>
              </p>
            </div>
            <div class="col-md-6">
              <p class="text-center">
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#nutrition">
                  Nutrition Facts
                </button>

                {{#link-to 'plans' class="btn btn-primary btn-lg"}}
                  Get started
                {{/link-to}}
              </p>
              <table class="table table-striped text-center">
                <thead>
                  <tr class="warning">
                    <td>Grams of Whey</td>
                    <td>Grams of Sugar</td>
                    <td>Ingredients</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>24</td>
                    <td>1</td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-10 col-lg-8">

      <h1>What you get</h1>

      <p>Bodshaperz provides high quality whey protein on a monthly subscription basis</p>

      <p><strong>Convenience is what we are about</strong></p>

      <p>Receive individual packets of protein that are convenient to
        take with you to the gym or school/work in a bag or even your pocket.
        Forget about those large 5 pound tubs of protein!</p>

      </div>

      <div class="col-md-2 col-lg-4">
        <img class="img-responsive" src="/assets/images/product-box.png">
      </div>
    </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-2 col-lg-4">
        <i class="fa fa-border fa-money"></i>
      </div>

      <div class="col-md-10 col-lg-8 pull-right">

      <h1>Pay less</h1>

      <p>We have a flat rate price of $30 or $45 a month depending on if you want 20 packets or 40 packets.</p>

      <p><strong>No hidden charges.</strong> Shipping &amp; handling is free.</p>

      <p>Stop paying so much for fancy sales pitches and subscribing to membership clubs to get better deals.</p>

      </div>
    </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-10 col-lg-8">

      <h1>Not the typical supplement brand</h1>

      <p>Our motto is “Mindset -> Nutrition -> Workouts -> Supplements”.</p>

      <p><strong>We don’t make unrealistic claims</strong> that everyone who takes our protein will become a body builder.</p>

      <p>We don’t try to upsell our consumers on a bunch of supplements that they do not need.
        Everyone has different goals and nutrition needs to help reach their goal.</p>

      <p>The one common element is that taking a whey protein supplement daily is beneficial for everyone
        especially those that workout, since most of us do not receive the amount of protein we need.</p>

      </div>

      <div class="col-md-2 col-lg-4">
        <img class="img-responsive" src="/assets/images/motto.png">
      </div>
    </div>
  </section>

  <section class="tour-section">
    <div class="container">
      <div class="col-md-2 col-lg-4">
        <i class="fa fa-border fa-sliders"></i>
      </div>

      <div class="col-md-10 col-lg-8 pull-right">

      <h1>Choose your size</h1>

      <p>Get 20 packets or 40 packets.</p>

      <p>We recommend the 20 pack per month plan for most individuals, unless you are trying to build/maintain serious muscle mass or you're an athlete.</p>

      <p>What are you waiting for?? <a href="#modal-beta-signup" data-toggle="modal" data-target="#vip-signup">Try us today</a>!</p>

      </div>
    </div>
  </section>

  <section id="how" class="tour-section text-center">
    <div class="container">
      <div class="col-md-12">

        {{#link-to 'plans' class="btn btn-primary btn-lg"}}
          Get started
        {{/link-to}}

        <a href="#" class="btn btn-warning btn-lg" {{action 'goToAnchor' 'how' 'index'}}>
          How does it work?
        </a>

      </div>
    </div>
  </section>

  <div class="modal fade" id="nutrition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <img class="img-responsive" src="/assets/images/package-back.png">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
