<section class="section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <i class="fa fa-user"></i>
                    <h1 class="slogan">Reset Password</h1>
                    <p>Have questions? Email us at <a href="mailto:team@bodshaperz.com" target="_top">team@bodshaperz.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="col-md-6 col-md-offset-3">

    {{#if success}}
      <div class="alert alert-success" role="alert">Password reset! Check your email for instructions.</div>
    {{/if}}
    {{#if error}}
      <div class="alert alert-danger" role="alert">Oh snap! Error resetting password. Make sure your email address is correct.</div>
    {{/if}}

    <form {{action 'submit' on='submit'}}>
      <div class="form-group">
        {{input value=email placeholder='Email' class='form-control'}}
      </div>
      <div class="form-group">
        <button type="submit" {{bind-attr disabled=isSubmitting class="isSubmitting:disabled :btn :btn-warning :pull-right"}}>
          <i {{bind-attr class="isSubmitting::hidden :fa :fa-spin :fa-refresh"}}></i>
          &nbsp;
          Reset Password
        </button>
      </div>
    </form>

  </div>
</div>
