<div id="subscription">

  <section class="section-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="align-center">
                    <i class="fa fa-calendar"></i>
                    <h1 class="slogan">Subscription Details</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="well">
        <h2>{{model.plan.name}} <span class="pull-right">${{model.plan.price}}<small>/month</small></span></h2>
        <p>
          <strong>Start Date:</strong>
          {{model.createdAtMoment}}
        </p>
        <p>
          <strong>Next Bill:</strong>
          {{model.nextBill}}
        </p>
        <p>
          <strong>Shipping Address:</strong>
        </p>
        <p>
          <address>
            {{model.address.address}}<br>
            {{#if model.address.address2}}
              {{model.address.address2}}<br>
            {{/if}}
            {{model.address.city}},
            {{model.address.state}}
            {{model.address.zip}}
          </address>
        </p>
      </div>
    </div>
  </div>
</div>
