<div id="terms">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <h1>Terms and Conditions</h1>

        <p>
          to <a href="bodshaperz.com">bodshaperz.com</a> (the “Site”).  The Site is maintained and operated by Bodshaperz, Inc. (“Bodshaperz” or “Company”).
        </p>

        <p>
          By accessing, browsing or using this Site, you acknowledge that you have read, understood and agreed to be bound by these Terms of Use (these “Terms”). If you do not agree to these Terms, you should not use or access this Site. Bodshaperz reserves the right to revise these Terms at any time by updating this posting. You are encouraged to review these Terms each time you use the Site because your use of the Site after the posting of changes will constitute your acceptance of the changes. By agreeing to these Terms it also constitutes your agreement to the <a href="/privacy">Site Privacy Policy</a> (the “Privacy Policy”), which id incorporated herein.
        </p>

        <p>
          BY ACCESSING OR USING ANY PART OF THE SITE, YOU ACCEPT, WITHOUT LIMITATION OR QUALIFICATION, THESE TERMS. IF YOU DO NOT AGREE WITH ALL OF THE TERMS SET FORTH BELOW, YOU MAY NOT USE ANY PORTION OF THE SITE. PRICE INFORMATION FOUND ON THIS SITE IS SUBJECT TO CHANGE WITHOUT NOTICE. BODSHAPERZ RESERVES THE RIGHT TO CHANGE THESE TERMS &amp; CONDITIONS OF USE AT ANY TIME WITHOUT NOTICE.
        </p>

        <p>
          We grant you a personal, limited, non-transferable, non-exclusive license to access and use the Site. We reserve the right, in our sole discretion and without notice to you, to revise the products and services available on the Site and to change, suspend or discontinue any aspect of the Site and we will not be liable to you or to any third party for doing so. We may also impose rules for and limits on use of the Site or restrict your access to part, or all, of the Site without notice or penalty. Your continued use of the Site will constitute your acceptance of any such changes.
        </p>

        <h2>1. Use of the Site</h2>

        <p>
          You may use the Site only for your own noncommercial personal use and in compliance with these Terms. You are responsible for your own communications, including the transmission, uploading or posting of information to the Site and are responsible for the consequences of such communications. Any other use of the Site requires the prior written consent of Bodshaperz. You may not otherwise copy, modify, or distribute the contents of this Site without the express written permission of Bodshaperz. You may not modify, publish, transmit, participate in the transfer of, sell, create derivative works from, or in any way exploit any of the content found on the Site, in whole or in part.
        </p>

        <p>
          We require all Members to agree not to use the Site, and specifically prohibit any use of the Site, for any of the following purposes:
        </p>

        <ul>
          <li>
            Posting, communicating or transmitting any material that infringes on any intellectual property, publicity or privacy right of another person or entity;
          </li>
          <li>
            Posting any information which is untrue, inaccurate or not your own;
          </li>
          <li>
            Engaging in conduct that would constitute a criminal offense or give rise to civil liability or otherwise violate any law or regulation;
          </li>
          <li>
            Attempting to interfere in any way with the Site’s or Bodshaperz’s network security, or attempting to use the Site’s service to gain unauthorized access to any other computer system; and
          </li>
          <li>
            Using the Site to drop ship merchandise to third parties
          </li>
        </ul>

        <p>
          You may not use spiders, robots, data mining techniques or other automated devices or programs to catalog, download or otherwise reproduce, store or distribute content available on the Site. Further, you may not use any such automated means to manipulate the Site, such as automating what are otherwise manual or one-off procedures. You may not take any action to interfere with, or disrupt, the Site or any other user's use of the Site, including, without limitation, via means of overloading, “flooding”, “mailbombing” or “crashing” the Site, circumventing security or user authentication measures or attempting to exceed the limited authorization and access granted to you under these Terms. You may not frame portions of the Site within another web site. You may not resell use of, or access to, the Site to any third party without our prior written consent.
        </p>

        <h2>2. Registration and Passwords</h2>

        <p>
          In order to access certain services on the Site, you will be required to provide specific information. All information about you must be truthful, and you may not use any aliases or other means to mask your true identity. Any access codes or passwords provided should be safeguarded at all times. You are responsible for the security of your access codes and passwords and will be solely liable for any use or unauthorized use of the Site under such access codes or passwords. We may suspend or terminate your access at any time with or without notice. To understand how we use information collected from you, please read our <a href="/privacy">Privacy Policy</a>.
        </p>

        <h2>3. Additional Terms and Conditions</h2>

        <p>
          You agree that additional terms and conditions may apply to specific products, orders or your use of certain portions of the Site, including with respect to ordering, shipping and return policies, review (“Additional Terms”), which Additional Terms are made part of these Terms by reference. If there is a conflict between these Terms and the Additional Terms, the Additional Terms shall control.
        </p>

        <h2>4. Use of the Site</h2>

        <p>
          The Site is available to registered and unregistered users who are 13 years old and older and who have not been suspended or removed by Bodshaperz for any reason (each a “Member”). We reserve the right to revoke your ability to access the products and services offered on the Site for any reason at any time including as a result of a violation of these Terms or the Privacy Policy, without notice. If you are a minor, you must obtain the consent of your parent or legal guardian to use the Site and agree to these Terms. Use of the Site is void where prohibited by law.
        </p>

        <h2>5. Fraud Protection</h2>

        <p>
          As part of our order processing procedures, we may screen received orders for fraud or other types of unauthorized or illegal activity. We reserve the right to refuse to process an order due to suspected fraud or unauthorized or illegal activity. If we suspect fraudulent, unauthorized or illegal activity, we may reject your order or we may contact you at the phone number or email address you provided to confirm your order. We also reserve the right to cancel any accounts or refuse to ship to certain addresses due to suspected fraud or unauthorized or illegal activity. We take these measures to protect our customers as well as ourselves from fraud or other unauthorized or illegal activity.
        </p>

        <h2>6. The Subscription Contract Between You And Us</h2>

        <p>
          Bodshaperz offers three subscription types: rebillable monthly subscriptions (“Monthly Subscriptions”); prepaid annual subscriptions (“Annual Subscriptions”); and prepaid gift subscriptions of three, six or twelve months (“Gift Subscriptions”).
        </p>

        <p>
          Monthly Subscriptions: By purchasing a Monthly Subscription, you acknowledge that your subscription has an initial and recurring payment feature and you accept responsibility for all recurring charges prior to cancellation. Your subscription will be automatically extended for successive monthly periods, at the then-current subscription rate. To cancel your Monthly Subscription at any time, you must logon to your account and follow the cancellation procedures or call or email us and we will do it for you. If you cancel, you may use your subscription until the end of your then-current subscription term. Bodshaperz may submit periodic charges (e.g., monthly) without further authorization from you, until you provide prior notice that you have terminated this authorization or wish to change your payment method. Such notice will not affect charges submitted before Bodshaperz reasonably could act.
        </p>

        <p>
          Annual Subscriptions: By purchasing an Annual Subscription, you acknowledge that your subscription has an initial pre-payment feature for one full year of service. At the end of the year, your subscription will be automatically extended for another term of one year at the then-current subscription rate. You may only cancel your Annual Subscription during the first month of the subscription.
        </p>

        <p>
          Gift Subscriptions: For Gift Subscriptions, the subscription will not be renewed after the then-current term expires. You cannot cancel a Gift Subscription and the pre-paid fee is non-refundable. We reserve the right to revoke your subscription at any time as a result of a violation of these Terms or the Privacy Policy. Membership is void where prohibited by law.
        </p>

        <h2>7. Product Information; Limitation on Quantities</h2>

        <p>
          Excluding any content that may be submitted by Members from time to time, we strive to ensure that the information on the Site is complete and reliable. Certain information may contain pricing errors, typographical errors and other errors or inaccuracies, which we may correct without liability. We also reserve the right to limit quantities purchased by Members and to revise, suspend, or terminate an event or promotion at any time without notice (including after an order has been submitted or acknowledged). We do not guarantee that all products described on our Site will be available.
        </p>

        <h2>8. Proprietary Rights</h2>

        <p>
          You acknowledge and agree that the content (other than content that may be submitted by Members), materials, text, images, videos, graphics, trademarks, logos, button icons, music, software and other elements available on the Site are the property of Bodshaperz or our licensors and are protected by copyright, trademark and/or other proprietary rights and laws. You agree not to sell, license, rent, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit, modify or create derivative works from any content or materials on the Site. Bodshaperz and the Bodshaperz logo are registered trademarks.  All other trademarks are the property of their respective owners. All of our Site's content is Copyright 2014 Bodshaperz, Inc. All rights reserved. Except as expressly set forth in these Terms, no license is granted to you and no rights are conveyed by virtue of accessing or using the Site. All rights not granted under these Terms are reserved by Bodshaperz.
        </p>

        <h2>9. Submitted Content</h2>

        <p>
          By submitting or posting any materials or content on the Site, you grant Bodshaperz a perpetual, irrevocable, non-terminable, worldwide, royalty-free and non-exclusive license to use, copy, distribute, publicly display, modify, create derivative works, and sublicense such materials or any part of such materials. You hereby represent, warrant and covenant that any materials you provide do not include anything (including, but not limited to, text, images, music or video) to which you do not have the full right to grant Bodshaperz the license specified above. You further represent, warrant and covenant that any materials you provide will not contain libelous or otherwise unlawful, abusive or obscene material. Bodshaperz will be entitled to use any content submitted by you without incurring obligations of confidentiality, attribution or compensation to you.
        </p>

        <h2>10. General Disclaimers</h2>

        <p>
          You assume all responsibility and risk with respect to your use of the Site. THE SITE, AND ALL CONTENT, MERCHANDISE, AND OTHER INFORMATION ON OR ACCESSIBLE FROM OR THROUGH THIS SITE OR A “LINKED” SITE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, SECURITY OR ACCURACY. SPECIFICALLY, BUT WITHOUT LIMITATION, BODSHAPERZ DOES NOT WARRANT THAT: (1) THE INFORMATION ON THIS SITE IS CORRECT, ACCURATE OR RELIABLE; (2) THE FUNCTIONS CONTAINED ON THIS SITE WILL BE UNINTERRUPTED OR ERROR-FREE; OR (3) DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Bodshaperz makes no warranties of any kind regarding any non-Bodshaperz sites to which you may be directed or hyperlinked from this Site. Hyperlinks are included solely for your convenience, and Bodshaperz makes no representations or warranties with regard to the accuracy, availability, suitability or safety of information provided in such non-Bodshaperz sites.
        </p>

        <h2>11. Disclaimer – No Professional Advice</h2>

        <p>
          Any information provided by us regarding the products or otherwise (e.g. product descriptions or instructions) is for informational purposes only. You should not take any action based upon any information contained on the Site. Use of the Site is not meant to serve as a substitute for professional advice. You should read and strictly follow all product labels, packaging inserts and instructions and all manufacturer directions and warnings and seek independent professional advice when appropriate.
        </p>

        <h2>12. Taxes</h2>

        <p>
          Your total price will include the price of the product plus any applicable sales tax; such state and local sales tax is based on the shipping address and the sales tax rate in effect at the time you purchase the product. We will charge tax only in states where the goods sold over the internet are taxable.
        </p>

        <h2>13. Indemnification</h2>

        <p>
          You agree to indemnify, hold harmless, and defend Bodshaperz, its parent, subsidiaries, divisions, and affiliates, and their respective officers, directors, employees, agents and affiliates from any and all claims, liabilities, damages, costs and expenses of defense, including attorneys’ fees, in any way arising from or related to your use of the Site, your violation of these Terms or the Privacy Policy, content posted to the Site by you, or your violation of any law or the rights of a third party.
        </p>

        <h2>14. Limitation of Liability</h2>

        <p>
          IN NO EVENT SHALL BODSHAPERZ, ITS PARENT COMPANY, SUBSIDIARIES, AFFLIATES OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUCCESSORS, SUBSIDIARIES, SUPPLIERS, AFFILIATES, OR THIRD PARTIES PROVIDING INFORMATION ON THIS SITE BE LIABLE TO ANY USER OF THE SITE OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, CONSEQUENTIAL OR EXEMPLARY DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, OR LOSS OF USE) ARISING OUT OF THE USE OR INABILITY TO USE THE SITE, WHETHER BASED UPON WARRANTY, CONTRACT, TORT, OR OTHERWISE, EVEN IF BODSHAPERZ HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES. IN NO EVENT SHALL THE TOTAL LIABILITY OF BODSHAPERZ, ITS AFFILIATES OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUCCESSORS, SUBSIDIARIES, SUPPLIERS, AFFILIATES OR THIRD PARTIES PROVIDING INFORMATION ON THIS SITE TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION RESULTING FROM YOUR USE OF THIS SITE, WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE) OR OTHERWISE, EXCEED THE AMOUNT YOU PAID TO BODSHAPERZ IN CONNECTION WITH THE EVENT GIVING RISE TO SUCH LIABILITY. You hereby acknowledge that the preceding paragraph shall apply to all content, merchandise and services available through the Site. Because some states do not allow limitations on implied warranties or the exclusion or limitation of certain damages, all of the above disclaimers or exclusions may not apply to all users.
        </p>

        <h2>15. International Use</h2>

        <p>
          We control and operate the Site from the United States. We make no representation that materials on the Site are appropriate or available for use outside the United States. If you choose to access this Site from outside the United States, you do so at your own initiative and are responsible for compliance with local laws, if and to the
extent local laws are applicable.
        </p>

        <h2>16. Risk of Loss</h2>

        <p>
          Any merchandise purchased from our Site will be shipped by a third party carrier. As a result, title and risk of loss for such merchandise will pass to you upon our delivery to the carrier.
        </p>

        <h2>17. Copyright Infringement; Notice and Take Down Procedures</h2>

        <p>
          Bodshaperz specifically prohibits the posting of any content that violates or infringes the copyright rights and/or other intellectual property rights (including rights of privacy and publicity) of any person or entity. If you believe that any material contained on this Site infringes your copyright or other intellectual property rights, you should notify us of your copyright infringement claim in accordance with the following procedure. Bodshaperz will process notices of alleged infringement that it receives and will take appropriate action as required by the Digital Millennium Copyright Act (“DMCA”). The DMCA requires that notifications of claimed copyright infringement should be sent to the following address:
        </p>

        <p>
          Bodshaperz, Inc.<br>
          WeWork #4102<br>
          7083 Hollywood Boulevard<br>
          Los Angeles, CA 90028<br>
          Telephone: (847) 571-0036<br>
        </p>

        <p>
          To be effective, the notification must be in writing and contain the following information (DMCA, 17 U.S.C. §512(c)(3)):
        </p>

        <ul>
          <li>
            Physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
          </li>
          <li>
            Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;
          </li>
          <li>
            Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material;
          </li>
          <li>
            Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;
          </li>
          <li>
            A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
          </li>
          <li>
            A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
          </li>
        </ul>

        <p>
          Please contact us with any questions or concerns in connection with these Terms or the Site, or to provide any notice under these Terms.
        </p>

        <h2>18. Severability</h2>

        <p>
          If any part of these Terms shall be held or declared to be invalid or unenforceable for any reason by any court of competent jurisdiction, such provision shall be ineffective but shall not affect any other part of these Terms, and in such event, such provision shall be changed and interpreted so as to best accomplish the objectives of such unenforceable or invalid provision within the limits of applicable law or applicable court decisions.
        </p>

        <h2>19. Waiver; Remedies</h2>

        <p>
          The failure of Bodshaperz to partially or fully exercise any rights or the waiver of Bodshaperz of any breach of these Terms and Conditions by you shall not prevent a subsequent exercise of such right by Bodshaperz or be deemed a waiver by Bodshaperz of any subsequent breach by you of the same or any other term of these Terms. The rights and remedies of Bodshaperz under these Terms and any other applicable agreement between you and Bodshaperz shall be cumulative, and the exercise of any such right or remedy shall not limit Bodshaperz’s right to exercise any other right or remedy.
        </p>

        <h2>20. Governing Law</h2>

        <p>
          The laws of the State of California shall govern these Terms. YOU HEREBY EXPRESSLY CONSENT TO EXCLUSIVE JURISDICTION AND VENUE IN THE COURTS LOCATED IN LOS ANGELES COUNTY, CALIFORNIA FOR ALL MATTERS ARISING IN CONNECTION WITH THESE TERMS AND CONDITIONS OR YOUR ACCESS OR USE OF THE SITE.
        </p>

        <h2>21. Health Related Information</h2>

        <p>
          The information contained in the Site is provided for informational purposes only and is not meant to substitute for the advice provided by your doctor or other health care professional.  You should not use the information available on or through the Site (including, but not limited to, information that may be provided on the Site by healthcare or nutrition professionals employed by or contracting with Bodshaperz) for diagnosing or treating a health problem or disease, or prescribing any medication.  Information and statements regarding dietary supplements have not been evaluated by the Food and Drug Administration and are not intended to diagnose, treat, cure, or prevent any disease.  You should read carefully all product packaging prior to use.
        </p>

        <p>
          Questions: Should you have any questions regarding these Terms you may contact us at <a href="mailto:info@bodshaperz.com">info@bodshaperz.com</a>.
        </p>

      </div>
    </div>
  </div>
</div>
